.toast {
  background: black;
  -webkit-box-shadow: 3px 3px 1rem rgba(0, 0, 0, 0.7);
  box-shadow: 3px 3px 1rem rgba(0, 0, 0, 0.7);
  border-radius: 2rem;
  color: white;
  padding: 0.8rem;
  height: auto;
  line-height: 1.2rem;
  font-size: 1rem;
  max-width: calc(100% - 1rem * 2);
  position: absolute;
  z-index: 11000;
  top: 50%;
  text-align: center;
  -webkit-transform: translate3d(0, 0, 0) scale(0.8);
  transform: translate3d(0, 0, 0) scale(0.8);
  -webkit-transition-property: -webkit-transform, opacity;
  transition-property: transform, opacity;
  -webkit-transition-duration: 300ms;
  transition-duration: 300ms;
  display: none;
  opacity: 0; }

.toast .toast-content {
  position: relative;
  top: 50%;
  white-space: normal; }

.toast-show {
  opacity: 1;
  -webkit-transform: translate3d(0, 0, 0) scale(1);
  transform: translate3d(0, 0, 0) scale(1); }

.toast-hide {
  opacity: 0;
  z-index: 10999;
  -webkit-transform: translate3d(0, 0, 0) scale(0.8);
  transform: translate3d(0, 0, 0) scale(0.8); }
